body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(7, 1, 29);
}

.ventana-emergente{
    width: 600px;
    height: 400px;
    padding: 25px;

    border-radius: 20px;
    background-color:  rgba(21, 22, 92, 0.927);
    border:  3px solid #09b2e1;
    box-shadow: 0 2px 20px rgba(11, 255, 251, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
#inicio{
    text-align: center;
    color:white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(106, 156, 241, 0.196);
    width: 300px;
    height: 40px;
    border-radius: 15px;
    

}

#nombre, #contraseña, #correo{
    width: 400px;
    height: 45px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(23, 36, 135, 0.985);
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 0px 10px rgba(58, 58, 171, 0.446);

    
}
#registrar{
    width: 150px;
    height: 50px;
    margin:20px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(51, 176, 51);
    border: 1px solid rgb(53, 250, 70);
    box-shadow: 0 0px 10px greenyellow;
    font-size: 15px;
}
