body{
    background-color: whitesmoke;
    margin: 0;
}

.linea-gruesa{
    width: 100%;
    height:100px;
    background-color: #0a0e74;
    position: relative;
    
}
.linea-delgada{
    width: 100%;
    height: 20px;
    background-color: #f9dd7b;
    position: absolute;
    top: 60px;
}

.barra-de-opciones{
    width: 100%;
    height: 150px;
    position: relative;
    background-color:#f4f7f8;
    border-top:  3px dashed rgba(128, 128, 128, 0.8) ;
    border-bottom: 3px dashed rgba(128, 128, 128, 0.8);
}
.fila{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin: 15px;
}

#head{
    position: absolute;
    color:gray;
    font-style:italic;
    bottom: 15px;
    left: 40px;
    font-size: 50px;
    
}

#categorias, #conocenos, #filtros, #inicio-sesion, #registro{
    width: 200px;
    height: 50px;
    border: 1px solid rgba(0, 0, 255, 0.6);
    border-radius: 10px;
    color: rgba(71, 70, 70,0.8);
    font-family:"Trebuchet MS", sans-serif;
    font-size: 25px;

}

#busqueda{
    width: 1000px;
    height: 50px;
    border: 1px solid rgba(0, 0, 255, 0.6);
    border-radius: 10px;
    color: rgba(71, 70, 70,0.8);
    font-family:"Trebuchet MS", sans-serif;
    font-size: 25px;
        
}
#carrito{
    position: absolute;
    right:40px;
    bottom: 15px;
    height: 120px;
    width: 120px;
}



.barra-anuncios{
    position:relative;
    width: 100%;
    height: 500px;
}
.anuncios{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 700px;
    margin:0px;
}

#anu1, #anu3{
    position:relative;
    width: 600px;
    height: 350px;
    border-radius: 10px;
    top:80px;    
}

#anu2{
    position: absolute;
    width: 600px;
    height: 350px;
    border-radius: 10px;
    bottom: 40px;
}
#izquierda{
    position: absolute;
    top:200px;
    left:100px;
    height: 100px;
    width: 100px;
    border-radius: 30px;
}
#derecha{
    position: absolute;
    top:200px;
    right: 100px;
    height: 100px;
    width: 100px;
    border-radius: 30px;
}

.seccion-productos{
    margin:20px;
    margin-top:80px;
}
.barra-productos{
    position: relative;
    display: flex;
    justify-content: left;
    gap: 100px;
    margin: 20px;
    left: 120px;
    
}

.etiqueta-fila{
    position: relative;
    left: 100px;
    height: 40px;
    width: 20%;
    margin:20px;
    font-family: Montserrat, "Montserrat Fallback: system-ui", "Montserrat Fallback: Arial", "Montserrat Fallback: sans-serif", sans-serif;
    font-size: 30px;
           
}

.imagen-productos{
    background-color: blueviolet;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid gray
}

.descripcion-producto{
    
    height: 10%;
    width: 100%;
    background-color: rgba(200, 232, 237, 0.304);
    color: black;
    border: 2px solid rgba(124, 124, 124, 0.5) ;
    border-radius: 5px;
    font-size: 20px;
    font-family:Montserrat, "Montserrat Fallback: system-ui", "Montserrat Fallback: Arial", "Montserrat Fallback: sans-serif", sans-serif ;
}

.fondo-registro{
    z-index: 1000;
    position: fixed;
    top:0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.8);
}

.oculto{
    display: none;
}

.ventana-emergente{
    width: 600px;
    height: 400px;
    padding: 25px;

    border-radius: 20px;
    background-color:  rgba(21, 22, 92, 0.927);
    border:  3px solid #09b2e1;
    box-shadow: 0 2px 20px rgba(11, 255, 251, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
#inicio{
    text-align: center;
    color:white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(106, 156, 241, 0.196);
    width: 300px;
    height: 40px;
    border-radius: 15px;
    

}

#nombre, #contraseña, #correo{
    width: 400px;
    height: 45px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(23, 36, 135, 0.985);
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 0px 10px rgba(58, 58, 171, 0.446);
    color:white;

    
}
#registrar{
    width: 150px;
    height: 50px;
    margin:20px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(51, 176, 51);
    border: 1px solid rgb(53, 250, 70);
    box-shadow: 0 0px 10px greenyellow;
    font-size: 15px;
}

#cerrar-registro{
    position: absolute;
    width: 50px;
    height: 50px;
    top:10px;
    right: 10px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: red;
    box-shadow: 0 0px 10px red;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

