body{
    background-color: whitesmoke;
    margin: 0;
}

.linea-gruesa{
    width: 100%;
    height:100px;
    background-color: #0a0e74;
    position: relative;
    
}
.linea-delgada{
    width: 100%;
    height: 20px;
    background-color: #f9dd7b;
    position: absolute;
    top: 60px;
}

.barra-de-opciones{
    width: 100%;
    height: 150px;
    position: relative;
    background-color:#f4f7f8;
    border-top:  3px dashed rgba(128, 128, 128, 0.8) ;
    border-bottom: 3px dashed rgba(128, 128, 128, 0.8);
}
.fila{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin: 15px;
}

#head{
    position: absolute;
    color:gray;
    font-style:italic;
    bottom: 15px;
    left: 40px;
    font-size: 50px;
    
}

#categorias, #conocenos, #filtros{
    width: 200px;
    height: 50px;
    border: 1px solid rgba(0, 0, 255, 0.6);
    border-radius: 10px;
    color: rgba(71, 70, 70,0.8);
    font-family:"Trebuchet MS", sans-serif;
    font-size: 25px;

}

#busqueda{
    width: 1000px;
    height: 50px;
    border: 1px solid rgba(0, 0, 255, 0.6);
    border-radius: 10px;
    color: rgba(71, 70, 70,0.8);
    font-family:"Trebuchet MS", sans-serif;
    font-size: 25px;
        
}

#carrito{
    position: absolute;
    right:40px;
    bottom: 15px;
    height: 120px;
    width: 120px;
}



.barra-anuncios{
    position:relative;
    width: 100%;
    height: 500px;
}
.anuncios{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 700px;
    margin:0px;
}

#anu1, #anu3{
    position:relative;
    width: 600px;
    height: 350px;
    border-radius: 10px;
    top:80px;    
}

#anu2{
    position: absolute;
    width: 600px;
    height: 350px;
    border-radius: 10px;
    bottom: 40px;
}
#izquierda{
    position: absolute;
    top:200px;
    left:100px;
    height: 100px;
    width: 100px;
    border-radius: 30px;
}
#derecha{
    position: absolute;
    top:200px;
    right: 100px;
    height: 100px;
    width: 100px;
    border-radius: 30px;
}

.seccion-productos{
    margin:20px;
    margin-top:80px;
}
.barra-productos{
    position: relative;
    display: flex;
    justify-content: left;
    gap: 100px;
    margin: 20px;
    left: 120px;
    
}

.etiqueta-fila{
    position: relative;
    left: 100px;
    height: 40px;
    width: 20%;
    margin:20px;
    font-family: Montserrat, "Montserrat Fallback: system-ui", "Montserrat Fallback: Arial", "Montserrat Fallback: sans-serif", sans-serif;
    font-size: 30px;
           
}

.imagen-productos{
    background-color: blueviolet;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid gray
}

.descripcion-producto{
    
    height: 10%;
    width: 100%;
    background-color: rgba(200, 232, 237, 0.304);
    color: black;
    border: 2px solid rgba(124, 124, 124, 0.5) ;
    border-radius: 5px;
    font-size: 20px;
    font-family:Montserrat, "Montserrat Fallback: system-ui", "Montserrat Fallback: Arial", "Montserrat Fallback: sans-serif", sans-serif ;
}